@{
    ViewData["Title"] = "Home Page";
}
@model JobRecorderNet.Models.ViewModels.HomeViewModel

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"]</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>


<body class="bg-gray-100">
    <div class="flex flex-col items-center w-full">
        <div class="w-full pb-3 rounded-lg pt-6">
            <div class="flex flex-col lg:flex-row justify-between items-center gap-4">
                <h1 class="text-3xl font-semibold">Dashboard</h1>
                @if (ViewBag.Name != null && ViewBag.Role != null)
                {
                    <div
                        class="flex flex-col items-center bg-gradient-to-r from-blue-100/75 to-grey-200/75 p-6 rounded-lg shadow-lg w-full md:w-auto self-start border-l-4 border-indigo-300">
                        <p class="text-xl font-bold text-gray-800 text-center">Welcome Back, @ViewBag.Name!</p>
                        <p class="text-sm text-gray-600 mt-2 text-center">You are currently logged in as a <strong>@ViewBag.role</strong>.</p>
                    </div>
                }
                <a class="bg-red-500 text-white px-6 py-2 rounded hover:bg-red-600 transition duration-300"
                    asp-action="">Print Info</a>
            </div>
        </div>
        <div class="grid grid-cols-2 md:grid-cols-4 gap-4 w-full pt-6 font-bold">
            <div class="flex flex-col items-center justify-center border p-4 rounded-md w-full text-center h-32">
                <p>@ViewBag.UserCount</p>
                <p class="text-gray-400">Total Users</p>
            </div>
            <div class="flex flex-col items-center justify-center border p-4 rounded-md w-full text-center h-32">
                <p>@ViewBag.ClientCount</p>
                <p class="text-gray-400">Total Clients</p>
            </div>
            <div class="flex flex-col items-center justify-center border p-4 rounded-md w-full text-center h-32">
                <p>@ViewBag.JobCount</p>
                <p class="text-gray-400">Total Jobs</p>
            </div>
            <div class="flex flex-col items-center justify-center border p-4 rounded-md w-full text-center h-32">
                <p>___</p>
                <p class="text-gray-400">Files/Evidence Uploaded</p>
            </div>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 w-full pt-4">

        <div class="flex flex-col border p-4 rounded-md w-full text-center">
            <div class="flex flex-row justify-between pb-2">
                <h1 class="font-bold">Recent Users</h1>
                <a asp-controller="User" class="bg-blue-500 text-white px-3 py-1 rounded hover:bg-blue-600 transition duration-300">View All</a>
            </div>
            <ul class="flex flex-col gap-2">
                @foreach (var user in Model.TopUsers)
                {
                    <a asp-controller="User" asp-action="Details" asp-route-id="@user.Id" class="grid grid-cols-5 hover:bg-gray-100">
                        <div class="flex flex-col col-span-2">
                            <p class="text-left font-semibold">@user.Name</p>
                            <p class="text-left font-light text-sm">@user.Email</p>
                        </div>
                        <p class="flex justify-center line-clamp-2 h-full items-center px-2 border-2 rounded-2xl">@user.Role</p>
                        <p class="text-right col-span-2 font-light leading-tight">Created At<br>@user.CreatedAt</p>
                    </a>
                }
            </ul>
        </div>
        <div class="flex flex-col border p-4 rounded-md w-full text-center">
            <div class="flex flex-row justify-between pb-2">
                <h1 class="font-bold">Recent Jobs</h1>
                <a asp-controller="Job" class="bg-blue-500 text-white px-3 py-1 rounded hover:bg-blue-600 transition duration-300">View All</a>
            </div>
            <ul class="flex flex-col gap-2">
                @foreach (var job in Model.RecentJobs)
                {
                    <a asp-controller="Job" asp-action="Details" asp-route-id="@job.Id" class="grid grid-cols-5 hover:bg-gray-100">
                        <div class="flex flex-col col-span-2">
                            <p class="text-left font-semibold">@job.Id</p>
                            <p class="text-left font-light text-sm">@job.Type</p>
                        </div>
                        <p class="flex justify-center line-clamp-2 h-full items-center px-2 bg-gray-100 border rounded-2xl">@job.Status</p>
                        <p class="text-right col-span-2 font-light leading-tight">Created At<br>@job.CreatedAt</p>
                    </a>
                }
            </ul>
        </div>
    </div>
    </div>
</body>
